<a href="https://colab.research.google.com/github/Jakhongir0103/ML-DL_projects/blob/main/Tabular_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tabular Data

In [7]:
import fastai
import torch
from fastai.tabular.all import *
import pandas as pd

In [11]:
# dataset
path = untar_data(URLs.ADULT_SAMPLE)
print(path.ls())

[Path('/root/.fastai/data/adult_sample/models'), Path('/root/.fastai/data/adult_sample/export.pkl'), Path('/root/.fastai/data/adult_sample/adult.csv')]

In [12]:
df = pd.read_csv('/root/.fastai/data/adult_sample/adult.csv')
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32074 non-null  float64
 5   marital-status  32561 non-null  object
 6   occupation      32049 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 3.7+ MB

In [13]:
df.occupation[0]

nan

In [19]:
# data loaders
dls = TabularDataLoaders.from_csv('/root/.fastai/data/adult_sample/adult.csv', path=path, bs=64, y_names='salary', skipinitialspace=False,
                         cat_names=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'],
                         cont_names=['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'],
                         procs=[Categorify, FillMissing, Normalize])

# train
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(4)

In [24]:
# predict
df.iloc[[0, 1, 2]]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k

In [43]:
row0, pred0, probs0 = learn.predict(df.iloc[0])
row1, pred1, probs1 = learn.predict(df.iloc[1])
row2, pred2, probs2 = learn.predict(df.iloc[2])

print(f'0: {pred0.item()} - {probs0[pred0.item()]*100: .1f}%')
print(f'1: {pred1.item()} - {probs1[pred1.item()]*100: .1f}%')
print(f'2: {pred2.item()} - {probs2[pred2.item()]*100: .1f}%')

0: 1 -  87.2%
1: 1 -  78.0%
2: 0 -  99.1%

from the prediction above we can conclude that:
- the class 0 means the salary is below 50k
- the class 1 means the salary is above 50k